<main class="main wrapper">
  <include src="./preview.html"></include>
  <form
    class="refillable"
    action="/signup"
    method="post"
    id="form"
    class="form"
    autocomplete="off"
  >

    <include
      src="./collapsable-header.html"
      title="Diseña"
      icon="far fa-object-ungroup icon-design"
    ></include>
    <include src="./section-design.html"></include>

    <include
      src="./collapsable-header.html"
      title="Rellena"
      icon="far fa-keyboard"
    ></include>
    <include src="./section-fill.html"></include>

    <include
      src="./collapsable-header.html"
      title="Comparte"
      icon="fas fa-share-alt share-icon"
    ></include>
    <include src="./section-share.html"></include>
  </form>
</main>
