<section class="design container">
  <div class="design-selections">
    <section class="header-design">
      <div class="header-design__title">
        <i class="far fa-object-ungroup"></i>
        <h2 class="header-design__name">DISEÑA</h2>
      </div>
      <i class="fas fa-chevron-up"></i>
    </section>

    <div class="selection">
      <h3 class="selection__title">COLORES</h3>

      <div class="options">
        <div class="options__1">
          <label for="coloroption1">
            <input id="coloroption1" class="radiocolor" type="radio" value="coldcolors" name="coloroption">
            <div class="color cold1"></div>
            <div class="color cold2"></div>
            <div class="color cold3"></div>
          </label>
        </div>
        <div>
          <label for="coloroption2">
            <input id="coloroption2" class="radiocolor" type="radio" value="hotcolors" name="coloroption">
            <div class="color hot1"></div>
            <div class="color hot2"></div>
            <div class="color hot3"></div>
          </label>
        </div>
        <div>
          <label for="coloroption3">
            <input id="coloroption3" class="radiocolor" type="radio" value="complementary" name="coloroption">
            <div class="color mix1"></div>
            <div class="color mix2"></div>
            <div class="color mix3"></div>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="endsection"></div>
</section>