<form action="/signup" method="post">
  <input type="text" name="fullName" />
  <input type="text" name="jobPosition" />
  <input type="button" name="add-profileImage" />
</form>
page__header <br />
diseña rellena
<!----FORMULARIO---->
nombre completo puesto imagen de perfil
<!--botón-añadir-imagen-->
<!--snipet de imagen-->
email teléfono linkedin github comparte
<fieldset>
  <legend>rellena</legend>

  <label for="fullName">nombre completo</label>
  <input type="text" id="fullName" name="fullName" />
  <label for="jobPosition">puesto</label>
  <input type="text" id="add-profileImage" name="add-profileImage" />
  <label for="add-profileImage">añadir imagen</label>
  <input type="button" id="add-profileImage" name="add-profileImage" />
</fieldset>
