<section class="page__preview">
    <button class="page__preview--button"><i class="far fa-trash-alt"></i>Reset</button>
    <div class="page__preview--card">

        <div class="preview__car--title-wrapper">
          <h2 class="preview__card--title">Nombre Apellido</h2>
          <h3 class="preview__card--subtitle">Front-end developer</h3>
        </div>
        <img src="./assets/images/avatar-provisional.png" alt="avatar" class="preview__card--image">
        <ul class="preview__card--rrss">
            <li class="rrss-item">
              <a
                class="rrss-link fas fa-mobile-alt"
                href="@@teléfono"
                target="_blank"
                ></a>
            </li>
            <li class="rrss-item">
                <a class="rrss-link fas fa-envelope" href="@@mail" 
                target="_blank"
                ></a>
              </li>
            <li class="rrss-item">
              <a
                class="rrss-link fab fa-linkedin-in"
                href="@@linkedin"
                target="_blank"
                ><div class="icon"></div
              ></a>
            </li>
            <li class="rrss-item">
              <a
                class="rrss-link fab fa-github-alt"
                href="@@github"
                target="_blank"
                ></a>
            </li>
          </ul>
    </div>
</section>