<section class="page__preview">
    <button class="page__preview--button"><i class="far fa-trash-alt"></i>Reset</button>
    <div class="page__preview--card">

        <div class="preview__card--title-wrapper">
          <h2 class="preview__card--title js-namePreview">Nombre Apellido</h2>
          <h3 class="preview__card--subtitle js-jobPreview">Front-end developer</h3>
        </div>
        <!-- <img src="./assets/images/avatar-provisional.png" alt="avatar" class="preview__card--image"> -->
        <div class="preview__card--image js-imgPreview"></div>
        <ul class="preview__card--rrss">
            <li class="rrss-item">
              <a
                class="rrss-link fas fa-mobile-alt js-telPreview"
                href="tel:+34"
                target="_blank"
                ></a>
            </li>
            <li class="rrss-item">
              <a class="rrss-link fas fa-envelope js-mailPreview" href="mailto:" 
              target="_blank"
              ></a>
              </li>
            <li class="rrss-item">
              <a
                class="rrss-link fab fa-linkedin-in js-linkedinPreview"
                href="https://www.linkedin.com/in/"
                target="_blank"
                ><div class="icon"></div
              ></a>
            </li>
            <li class="rrss-item">
              <a
                class="rrss-link fab fa-github-alt js-gitHubPreview"
                href="https://github.com/"
                target="_blank"
                ></a>
            </li>
          </ul>
    </div>
</section>