<section class="page__preview">
    <button class="page__preview--button"><i class="far fa-trash-alt"></i>Reset</button>
    <div class="page__preview--card">
        <h2 class="preview__card--title">Nombre Apellido</h2>
        <h3 class="preview__card--subtitle">Front-end developer</h3>
        <img src="./assets/images/avatar-provisional.png" alt="avatar" class="preview__card--image">
        <ul class="preview__card--rrss">
            <li class="rrss-item">
              <a
                class="rrss-link"
                href="@@twitter"
                title="Perfil Twitter"
                target="_blank"
                ><div class="icon"><i class="fas fa-mobile-alt"></i></div
              ></a>
            </li>
            <li class="rrss-item">
                <a class="rrss-link" href="@@mail" title="Contacto @" target="_blank"
                  ><div class="icon">
                    <i class="fas fa-envelope"></i></div
                ></a>
              </li>
            <li class="rrss-item">
              <a
                class="rrss-link"
                href="@@linkedin"
                title="Perfil Linkedin"
                target="_blank"
                ><div class="icon"><i class="dot fab fa-linkedin-in"></i></div
              ></a>
            </li>
            <li class="rrss-item">
              <a
                class="rrss-link"
                href="@@github"
                title="Perfil Github"
                target="_blank"
                ><div class="icon"><i class="dot fab fa-github-alt"></i></div
              ></a>
            </li>
          </ul>
    </div>
</section>