<!-- <section class="share-section container"> -->
<fieldset class="section-share">
  <!-- <div class="share-row">
      <i class="fas fa-share-alt share-icon"></i>
      <h2 class="h2">comparte</h2>
      <i class="fas fa-chevron-up arrow-icon"></i>
    </div> -->

  <div class="button-container">
    <button class="share-button share-button2">
      <i class="far fa-address-card address-card-icon"></i>crear tarjeta
    </button>
  </div>

  <div class="set-up-container">
    <p class="text-set-up">La tarjeta ha sido creada:</p>

    <button class="twitter-button">
      <i class="fab fa-twitter twitter-icon"></i>Compartir en twitter
    </button>
  </div>
</fieldset>
