<fieldset class="section-design container">
  <div class="selection js-hidden">
    <h3 class="selection__title">Colores</h3>
    <div class="selection__options">
      <label for="coloroption1" class="selection__options--palette">
        <input id="coloroption1" type="radio" value="coldcolors" name="coloroption " class="selection__options--input" checked />
        <div class="palette palette__cold1"></div>
        <div class="palette palette__cold2"></div>
        <div class="palette palette__cold3"></div>
      </label>
      <label for="coloroption2" class="selection__options--palette">
        <input id="coloroption2" type="radio" value="hotcolors" name="coloroption" class="selection__options--input" />
        <div class="palette palette__hot1"></div>
        <div class="palette palette__hot2"></div>
        <div class="palette palette__hot3"></div>
      </label>
      <label for="coloroption3" class="selection__options--palette">
        <input id="coloroption3" type="radio" value="complementary" name="coloroption" class="selection__options--input" />
        <div class="palette palette__mix1"></div>
        <div class="palette palette__mix2"></div>
        <div class="palette palette__mix3"></div>
      </label>
    </div>
  </div>
</fieldset>