.content {
  background-color: $background-landing;
  width: 100vw;
  height: 458px;
}

.share-section {
  padding: 10px 20px 30px 20px;

  @media all and (min-width: 768px) {
    padding-right: 30px;
    padding-left: 40px;
  }
}

.share-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;

  @media all and (min-width: 768px) {
    padding-bottom: 33px;
  }

  .share-icon {
    color: $dull-orange;
    size: 18px;
    margin-right: 12px;

    @media all and (min-width: 768px) {
      margin-right: 12.5px;
    }
  }

  .share-title {
    text-transform: uppercase;
    color: $title-section-color;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 600;
    margin-right: 137px;

    @media all and (min-width: 768px) {
      margin-right: 186px;
    }
  }

  .arrow-icon {
    size: 18px;
    color: $title-section-color;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: $grey-stroke 1px solid;
}

.share-button {
  width: 199px;
  height: 50px;
  border-radius: 12px;
  background-color: $dull-orange;
  border-style: none;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  color: $font-button-color;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $main-font;
  font-weight: 600;
}

.address-card-icon {
  size: 22px;
  margin-right: 9px;
}

/*OPCIÓN 2*/
/*.share-button2 {
  display: none;
  background-color: #d5d5d5;
}*/

.set-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: $grey-stroke 1px solid;
  padding-bottom: 30px;
}

.text-set-up {
  font-size: 18px;
  font-weight: 600;
  color: $title-section-color;
  font-family: $main-font;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

.link-set-up {
  font-size: 12px;
  font-family: $main-font;
  color: $dull-orange;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

.twitter-button {
  width: 181px;
  height: 30px;
  border-radius: 3px;
  background-color: #00a0f5;
  border-style: none;
  color: $font-button-color;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.32);
  vertical-align: middle;
}

.twitter-icon {
  size: 18px;
  vertical-align: middle;
}
