.design {
  width: 100vw;
  max-height: 340px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
}
.design-selections {
  @include tablet {
    width: 50%;
  }
}
.header-design {
  width: 100%;
  height: 70px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__title {
    display: flex;
    flex-direction: row;
  }
  &__name {
    font-family: $main-font;
    font-size: 18px;
    color: $title-section-color;
  }
}

.fa-chevron-up {
  color: $title-section-color;
}

.fa-object-ungroup {
  color: #e17334;
  font-size: 18px;
  padding-right: 10px;
}

.selection {
  display: flex;
  justify-content: space-between;
  &__title {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 100;
    color: $title-section-color;
  }
}

.color {
  display: inline-block;
  width: 30px;
  height: 25px;
}

.cold1 {
  background-color: #114e4e;
}
.cold2 {
  background-color: #438792;
}
.cold3 {
  background-color: #a2deaf;
}
.hot1 {
  background-color: #420101;
}
.hot2 {
  background-color: #bd1010;
}
.hot3 {
  background-color: #e95626;
}
.mix1 {
  background-color: #3e5b65;
}
.mix2 {
  background-color: #eab052;
}
.mix3 {
  background-color: #a0c0cf;
}

.endsection {
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding-top: 30px;
}
