.section-design {
  border-style: none;
  border-bottom: 1px solid $grey-stroke;
}

.design {
  width: 100%;
  max-height: 340px;
  margin: 0 auto;
}

.fa-chevron-up {
  color: $title-section-color;
}

.fa-object-ungroup {
  color: #e17334;
  font-size: rem(
    18
  ); /* Aquí estoy aplicando la funció que se llama rem, entre paréntesis le pongo mi tamaño de px*/
  padding-right: rem(10);
}

.selection {
  display: flex;
  justify-content: space-between;
  &__title {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 100;
    color: $title-section-color;
  }
}

.color {
  display: inline-block;
  width: 30px;
  height: 25px;
}

.cold1 {
  background-color: #114e4e;
}
.cold2 {
  background-color: #438792;
}
.cold3 {
  background-color: #a2deaf;
}
.hot1 {
  background-color: #420101;
}
.hot2 {
  background-color: #bd1010;
}
.hot3 {
  background-color: #e95626;
}
.mix1 {
  background-color: #3e5b65;
}
.mix2 {
  background-color: #eab052;
}
.mix3 {
  background-color: #a0c0cf;
}

.endsection {
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding-top: 30px;
}
