.footer {
  width: 100%;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 61px 20px;

  &__small {
    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
    width: 100vw;
    text-align: center;
  }

  &__logo {
    width: 103px;
    height: 40px;
  }
}
