.form {
  width: 320px;
  height: auto;
  background-color: rgb(247, 190, 169);
  display: flex;
  flex-direction: column;
}
.label {
  display: block;
  margin: 0.4375rem 0 0.8125rem;
}
.collapsible-button {
  width: 280px;
  height: auto;
  background-color: $collapsible-bg;
  cursor: pointer;
  padding: 18px;
  border-bottom: 1px solid $grey-stroke;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  height: 30px;
  width: 280px;
  border: solid 1px #b8b8b9;
  box-sizing: border-box;
  padding-left: 0.9375rem;
}
.button {
  width: 140px;
  height: 30px;
  background-color: $dull-orange;
}
// .fa .far .fas {
//   color: $dull-orange;
// }
.fa-keyboard {
  color: $dull-orange;
}
