.section-fill {
  border-style: none;
  border-bottom: 1px solid $grey-stroke;
}

.form {
  width: 100%;
  height: auto;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form-selections {
  @include tablet {
    width: 50%;
  }
}

.fa-keyboard {
  font-size: 18px;
  color: $contrast-color;
  padding-right: 10px;
}
.fa-chevron-up {
  font-size: 18px;
  color: $title-section-color;
}
.label {
  font-size: 14px;
  line-height: 20px;
  font-family: $main-font;
  color: $labelNameColor;
  display: block;
  margin: 0.4375rem 0 0.8125rem;
}
.input {
  font-size: 14px;
  line-height: 20px;
  font-family: $main-font;
  color: $placeholder-text;
  display: block;
  height: 30px;
  width: 100%;
  border: solid 1px $border-fields-color;
  box-sizing: border-box;
  padding-left: 0.9375rem;
}
.button {
  width: 140px;
  height: 30px;
  appearance: none;
  background-color: $contrast-color;
}
