.landing {
  background-color: $background-landing;
  width: 100%;
  height: 100vh;
  //  height: calc(100vh-110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    // height: calc(100vh-60px);
  }

  &__logo {
    width: 250px;
    height: 63px;
    margin: 10px 35px 50px 35px;
    @include tablet {
      width: 419px;
      height: 105px;
    }
  }
  &__title {
    color: $contrast-color;
    font-size: 19px;
    font-family: $title-font;
    font-weight: bold;
    @include tablet {
      font-size: 24px;
    }
  }
  &__subtitle {
    font-family: $main-font;
    font-size: 12.8px;
    width: 250px;
    // height: 38.4px;
    text-align: center;
    color: $labelNameColor;
    margin-top: 5px;
    line-height: 1.2;
    @include tablet {
      font-size: 16px;
      width: 300px;
    }
  }
  &__wrapper {
    width: 268px;
    height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: $main-font;
    font-size: 12.8px;
    border-radius: 4px;
    border: solid 1.6px #e17334;
    margin-top: 60px;
    //padding: 15px 20px 9.8px 20px;
    // margin-bottom: 90px;
    @include tablet {
      width: 325px;
      height: 86px;
      //margin-bottom: 200px;
    }
  }
  &__icon-design {
    color: $contrast-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
  }
  &__icon-fill {
    color: $contrast-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
  }
  &__icon-share {
    color: $contrast-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
  }
  &__icon--icon {
    font-size: 18px;
    @include tablet {
      width: 32px;
      height: 29px;
      margin-left: 15px;
    }
  }
  &__link {
    border-radius: 21px;
    color: white;
    background-color: $dirty-blue;
    width: 129px;
    height: 42px;
    appearance: button;
    text-decoration: none;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    @include tablet {
      margin: 186px auto 60px;
    }
  }
  &__icon--text {
    font-size: 15px;
    font-family: $main-font;
    color: $title-section-color;
    @include tablet {
      font-size: 16px;
    }
  }
  &__link-text {
    font-family: $main-font;
    color: white;
    margin: auto;
  }
}
.central-column {
  padding: 0px 35px;
  @include tablet {
    padding: 0px 175px;
  }
}
